<h2>Cookies</h2>

<input type="text" id="name" placeholder="Nombre">
<input type="text" id="email" placeholder="email">

<button id="getCookies">Obtener Cookies</button>
<button id="setCookie">Crear Cookie</button>

<script src="/js/cookies.js"></script>
