<h1>Login</h1>

<form action="" id="loginForm">
  <label for="">Usuario</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Iniciar Sesión</button>
</form>

<div>
  <button>
       <a href="forgotPassword">Restaurar Contraseña</a>
  </button>
</div>


<div>
  <button> 
     <a href="/auth/github">Entrar con Github</a>
  </button>
 
</div>

<div>
  <button> 
     <a href="/auth/google">Entrar con Google</a>
  </button>
 
</div>
<script src="/js/login.js"></script>