* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
   
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161515;
    height: 95vh;
  }
  
  h1 {
    margin: 20px;
    font-size:medium;
  }
input {
  margin: 50px;
  padding: 20px;
  font-size:medium;
  background-color: rgb(252, 252, 249);
  color: #161515;

}
button {
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px 28px;

}
button:hover {
  background-color:grey ;

}

.productsList {
   display: grid;
   place-content: center
}

p {
  color: white;
  font-size: medium;
}
  
