<div>
  
  <h1>Products</h1>
   {{#each products}}
  <div>
      
    <h3>Title: {{product.title}}!</h3>
    <h3>Price: {{product.price}}</h3>
    <p>Description: {{product.description}}</p>
     
  </div>
  {{/each}}
</div>
