<h2>Forgot password</h2>

<form action="" method="POST" id="forgotpassword">
  <label for="email">Correo</label>
  <input type="email" name="email" id="email">
  
  
  <button type="submit" value="submit">New Password</button>
</form>

<script src="/js/forgotPassword.js"></script>