<h2>New password</h2>

<form action="" method="POST" id="newpassword">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  
  
  <button type="submit" value="submit">New Password</button>
</form>

<script src="/js/newpassword.js"></script>